{% extends 'admin.html.twig' %}

{% block title %}Membres
{% endblock %}

{% block body %}
	<div class="row d-flex align-items-center">
		<div class="col-sm-6">
			<h1>Membres</h1>
		</div>
		<div class="col-sm-6 text-end">
			<a href="{{ path('membre_new') }}" class="btn btn-primary">Ajouter un membre</a>
		</div>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Image</th>
				<th>Nom</th>
				<th>Fonction</th>
				<th>Visibilité</th>
				<th>Date de création</th>
				<th>Date de mise à jour</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for membre in membres %}
				<tr>
					<td>{{ membre.id }}</td>
					<td>
						<img src="{% if membre.image %}{{ vich_uploader_asset(membre, 'imageFile' ) | imagine_filter('small') }}{% else %}{{ asset('img/img-def-min.png') | imagine_filter('small') }}{% endif %}" alt="" class="img-fluid rounded border">
					</td>
					<td>{{ membre.nom }}</td>
					<td>{{ membre.fonction }}</td>
					<td>
						<span class="badge bg-{{ membre.online ? 'success' : 'light text-dark' }}">{{ membre.online ? 'En ligne' : 'Hors ligne' }}</span>
					</td>
					<td>{{ membre.created ? membre.created|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ membre.updated ? membre.updated|date('Y-m-d H:i:s') : '' }}</td>
					<td>

						<a href="{{ path('membre_edit', {'id': membre.id}) }}" class="btn btn-light">
							<i class="fa fa-edit"></i>
							Mettre à jour</a>

						{{ include('admin/membre/_delete_form.html.twig') }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">Aucun membre</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
