{% extends 'dashboard.html.twig' %}

{% block title %}Membres
{% endblock %}
{% block titre %}Membres
{% endblock %}
{% block text %}Membres
{% endblock %}

{% block right %}
	<button type="button" class="theme-btn btn-style-one radius-btn" data-toggle="modal" data-target="#staticBackdrop">
		<span class="btn-title">
			<i class="fa fa-plus-circle mr-2"></i>
			Ajouter
		</span>
	</button>
{% endblock %}

{% block body %}
	<!-- Modal -->
	<div class="modal" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Ajouter un #membre</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					{% include "admin/membre/_form.html.twig" %}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-light border" data-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row clearfix mt-4">
		{% for membre in membres %}
			<div class="col-lg-3 col-md-6 col-sm-12 mb-30">
				<div class="card card-box border-0">
					<img class="card-img-top" src="{% if membre.image %}{{ vich_uploader_asset(membre, 'imageFile')}}{% else %}{{ asset('img/document.svg')}}{% endif %}" alt="Card image cap">
					<div class="card-body p-2 text-left">
						<span class="badge badge-{{ membre.online ? 'success' : 'secondary' }} rounded-pill">
							<i class="fa fa-{{ membre.online ? 'eye' : 'eye-slash' }}"></i>
							{{ membre.online ? 'En ligne' : 'Hors ligne' }}
						</span>
						<strong class="mb-2 font-small d-block pt-2">{{membre}}</strong>
						<p class="mb-0 text-primary mb-3">{{ membre.fonction }}</p>
						<a href="{{ path('membre_edit', {'id': membre.id}) }}" class="btn btn-light border">
							<i class="fa fa-edit"></i>
						</a>
						{{ include('admin/membre/_delete_form.html.twig') }}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
