{% extends 'admin.html.twig' %}

{% block title %}Categories de projets{% endblock %}

{% block body %}

    <div class="row d-flex align-items-center">
        <div class="col-sm-6">
            <h1>Categories de projets</h1>
        </div>
        <div class="col-sm-6 text-end">
            <a href="{{ path('categorie_new') }}" class="btn btn-primary">Ajouter une catégorie</a>
        </div>
    </div>

    <table class="table">
        <thead class="bg-light">
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Titre en anglais</th>
                <th>Mise à jour</th>
                <th class="text-end">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td><strong>{{ categorie.name }}</strong></td>
                <td><strong>{{ categorie.nameEn }}</strong></td>
                <td>{{ categorie.updated ? categorie.updated|ago : '' }}</td>
                <td class="text-end">
                    <a href="{{ path('categorie_edit', {'id': categorie.id}) }}" class="btn btn-light"><i class="fa fa-edit"></i> Mettre à jour</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune donnée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
