{% extends 'admin.html.twig' %}

{% block title %}Actualites{% endblock %}

{% block body %}
<div class="row d-flex align-items-center">
    <div class="col-sm-6">
        <h1>Actualites</h1>
    </div>
    <div class="col-sm-6 text-end">
        <a href="{{ path('actualite_new') }}" class="btn btn-primary">Publier dans le blog</a>
    </div>
</div>

<table class="table">
        <thead class="bg-light">
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Image</th>
            <th>Statut</th>
            <th>Date</th>
            <th class="text-end">actions</th>
        </tr>
    </thead>
    <tbody>
        {% for actualite in actualites %}
        <tr>
            <td>{{ actualite.id }}</td>
            <td>{{ actualite.name }}</td>
            <td>
                <img src="{% if actualite.image %}{{ vich_uploader_asset(actualite, 'imageFile' ) | imagine_filter('small') }}{% else %}{{ asset('img/img-def-min.png') | imagine_filter('small') }}{% endif %}"
                    alt="" class="img-fluid">
            </td>
            <td>
                <span class="badge bg-{{ actualite.online ? 'success' : 'light' }}">
                    {{ actualite.online ? 'En ligne' : 'Hors ligne' }}
                </span>
            </td>
            <td><span>{{ actualite.created|ago }}</span></td>
            <td class="text-end">
                <a href="{{ path('actualite_show', {'id': actualite.id}) }}" class="btn btn-light"><i class="ti ti-article"></i> Détails</a>
                <a href="{{ path('actualite_edit', {'id': actualite.id}) }}" class="btn btn-light">
                    <i class="fa fa-edit"></i> Mettre à jour
                </a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">Aucune donnée</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}