{% extends 'admin.html.twig' %}

{% block title %}Actualite{% endblock %}

{% block body %}
    <h1>Actualite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ actualite.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ actualite.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ actualite.slug }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    <img src="{% if actualite.image %}{{ vich_uploader_asset(actualite, 'imageFile' ) | imagine_filter('small') }}{% else %}{{ asset('img/img-def-min.png') | imagine_filter('small') }}{% endif %}"
                    alt="" class="img-fluid">
                </td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ actualite.description|raw }}</td>
            </tr>
            <tr>
                <th>Online</th>
                <td>{{ actualite.online ? 'En ligne' : 'Hors ligne' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('actualite_index') }}" class="btn btn-primary">Retourner à la liste</a>

    <a href="{{ path('actualite_edit', {'id': actualite.id}) }}" class="btn btn-light"><i class="fa fa-edit"></i> Mettre à jour</a>

    {{ include('admin/actualite/_delete_form.html.twig') }}

{% endblock %}
