<div class="blog-entry align-self-stretch">
	<a href="{{ path('services_details', {slug: service.slug}) }}" class="block-20" style="background-image: url('{% if service.image %}{{ vich_uploader_asset(service, 'imageFile' ) | imagine_filter('large') }}{% else %}{{ asset('img/serv.png') | imagine_filter('large') }}{% endif %}');"></a>
	<div class="text p-4 d-block">
		<div class="meta mb-3">
			<div>
				<a href="#">{{appName}}</a>
			</div>
		</div>
		<h3 class="heading mt-3">
			<a href="{{ path('services_details', {slug: service.slug}) }}">{{service}}</a>
		</h3>
		<p>{{service.resume|u.truncate(60, '...')}}</p>
	</div>
</div>
