<div class="position-relative">
	<img class="img-fluid w-100" src="{% if service.image %}{{ vich_uploader_asset(service, 'imageFile' ) | imagine_filter('large') }}{% else %}{{ asset('img/1.png') | imagine_filter('large') }}{% endif %}" alt=""/>
	<div class="facts-overlay">
		<h1 class="display-1">0{{ service.position }}</h1>
		<h4 class="text-white mb-3">{{ service.name }}</h4>
		<a class="text-white small" href="{{ path('services_details', {slug: service.slug}) }}">LIRE PLUS<i class="fa fa-arrow-right ms-3"></i>
		</a>
	</div>
</div>
