{% extends 'base.html.twig' %}

{% block title %}Service #{{ service }}
{% endblock %}

{% block body %}

	<div class="hero-wrap" style="background-image: url('{% if service.image %}{{ vich_uploader_asset(service, 'imageFile' ) | imagine_filter('couverture') }}{% else %}{{ asset('img/serv.png') | imagine_filter('couverture') }}{% endif %}');" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
				<div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
					<p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
						<span class="mr-2">
							<a href="{{path('accueil')}}">Accueil</a>
						</span>
						<span class="mr-2">
							<a href="{{path('services')}}">Services</a>
						</span>
					</p>
					<h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">{{service.name}}</h1>
				</div>
			</div>
		</div>
	</div>

	<section class="ftco-section ftco-degree-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-8 ftco-animate">
					<h2 class="mb-3">{{service}}</h2>
					{{ service.description|raw }}

				</div>
				<!-- .col-md-8 -->
				<div class="col-md-4 sidebar ftco-animate">
					<div class="sidebar-box ftco-animate">
						<div class="categories">
							<h3>Autres services</h3>
							{% for serv in services() %}
								<li class="{{ serv == service ? 'bg-dark' : '' }}">
									<a href="{{ path('services_details', {slug: serv.slug}) }}">{{serv}}</a>
								</li>
							{% endfor %}
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- .section -->
{% endblock %}
