{% extends 'admin.html.twig' %}

{% block title %}Réalisations
{% endblock %}

{% block body %}

	<div class="row d-flex align-items-center">
		<div class="col-sm-6">
			<h1>Réalisations</h1>
		</div>
		<div class="col-sm-6 text-end">
			<a href="{{ path('projet_new') }}" class="btn btn-primary">Ajouter une réalisation</a>
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
				Création rapide
			</button>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Ajouter une réalisation</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{{ include('admin/projet/_form.html.twig') }}
				</div>
			</div>
		</div>
	</div>

	<table class="table">
		<thead class="bg-light">
			<tr>
				<th>Id</th>
				<th>Titre</th>
				<th>Image</th>
				<th>Catégorie</th>
				<th>Statut</th>
				<th class="text-end">actions</th>
			</tr>
		</thead>
		<tbody>
			{% for projet in projets %}
				<tr>
					<td>{{ projet.id }}</td>
					<td>
						<strong>{{ projet.name }}</strong>
					</td>
					<td>
						<img src="{% if projet.image %}{{ vich_uploader_asset(projet, 'imageFile' ) | imagine_filter('small') }}{% else %}{{ asset('img/img-def-min.png') | imagine_filter('small') }}{% endif %}" alt="" class="img-fluid rounded border">
					</td>
					<td>
						<span class="badge bg-primary">{{ projet.categorie ?? 'Non classé' }}</span>
					</td>
					<td>
						<span class="badge bg-{{ projet.online ? 'success' : 'light text-dark' }}">{{ projet.online ? 'En ligne' : 'Hors ligne' }}</span>
					</td>
					<td class="text-end">
						<a href="{{ path('realisations_details', {'slug': projet.slug}) }}" class="btn btn-light" target="_blank">
							<i class="ti ti-article"></i>
							Détails</a>
						<a href="{{ path('projet_edit', {'id': projet.id}) }}" class="btn btn-light">
							<i class="fa fa-edit"></i>
							Mettre à jour</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">Aucune donnée</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
