<!-- Footer Section -->
<footer class="main-footer footer-style-five">
	<div class="bg footer-bg-3"></div>
	<div class="widgets-section">
		<div class="auto-container">
			<div
				class="row">
				<!-- Footer Column -->
				<div class="footer-column col-xl-2 col-lg-6 col-md-6 col-sm-12">
					<div class="footer-widget newslatter-widget">
						<div class="widget-content">
							<h4 class="title">{{appName}}</h4>
							<div class="text">{{apropo().anneeExperience}}
								Années d'expériences</div>
							<div class="newslatters-form-three text-center">
								<a href="{{path('accueil')}}" class="text-light">
									<img src="{{asset('img/logo.png')}}" width="140" alt="Logo {{appName}}" title="Logo {{appName}}">
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- Footer Column -->
				<div class="footer-column col-xl-3 col-lg-6 col-md-6 col-sm-12">
					<div class="footer-widget links-widget">
						<h4 class="widget-title">Our Services</h4>
						<div class="widget-content">
							<ul class="user-links style-two light">
								<li>
									<a href="{{path('demande_create', {requete: 1})}}">
										<i class="fa fa-angle-right"></i>
										Créer votre entreprise</a>
								</li>
								<li>
									<a href="{{path('apropos')}}">
										<i class="fa fa-angle-right"></i>
										A propos</a>
								</li>
								<li>
									<a href="{{path('contact')}}">
										<i class="fa fa-angle-right"></i>
										Contact</a>
								</li>
								<li>
									{% if app.user %}
										<a href="{{path('user_demande_index')}}">
											<i class="fa fa-angle-right"></i>
											Espace
											{{app.user.compte}}</a>
									{% else %}
										<a href="{{path('app_login')}}">
											<i class="fa fa-angle-right"></i>
											Se connecter</a>
									{% endif %}
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Footer Column -->
				<div class="footer-column col-xl-3 col-lg-6 col-md-6 col-sm-12">
					<div class="footer-widget contact-widget">
						<h4 class="widget-title">Coordonnées</h4>
						<div class="widget-content">
							<ul class="contact-info-list">
								<li>
									<i class="icon fa fa-map-marker-alt"></i>
									<div class="text">{{pays}}
										<br>
										{{apropo().bureau}}</div>
								</li>
								<li>
									<i class="icon fa fa-paper-plane"></i>
									<div class="text">
										<a href="mailto:{{apropo().email}}">{{apropo().email}}</a>
									</div>
								</li>
								<li>
									<i class="icon fa fa-phone"></i>
									<div class="text">
										<a href="tel:{{apropo().telephone}}">{{apropo().telephone}}</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Footer Column -->
				<div class="footer-column col-xl-4 col-lg-6 col-md-6 col-sm-12">
					<div class="footer-widget about-widget">
						<h4 class="widget-title">{{appName}}</h4>
						<div class="widget-content">
							<div class="text">{{apropo().presentation}}</div>
							<ul class="social-icon-three">
								<li class="me-2">
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li class="me-2">
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-instagram"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-bottom">
		<div class="auto-container">
			<div class="inner-container">
				<div class="copyright-text">©
					<a href="{{path('accueil')}}">{{appName}}</a>
					{{'now'|date('Y')}}
					Tous droits réservés.
				</div>
				<ul class="footer-nav">
					<li>
						<a href="#">Termes et conditions d'utilisation</a>
					</li>
					<li>
						<a href="#">Politique de confidentialité</a>
					</li>
					<li>
						<a href="#">FAQs</a>
					</li>
					<li>
						<a href="{{path('contact')}}">Centre d'aide</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<!--End Footer Section -->
