<div class="dropdown local-btn w-100">
   <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton1"
      data-bs-toggle="dropdown" aria-expanded="false">
      {% if app.request.locale == 'fr' %}
      <img src="{{ asset('images/base/fr.png') }}" width="20px" height="15px" class="mr-2" alt="">
      <span class="ms-2">{{ 'francais'|trans }}</span>
      {% else %}
      <img src="{{ asset('images/base/en.png') }}" width="20px" height="15px" class="mr-2" alt="">
      <span class="ms-2">{{ 'englais'|trans }}</span>
      {% endif %}
   </button>
   <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      {% for locale in locales %}
      {% if locale != app.request.locale %}
      <li>
         <a class="dropdown-item text-dark" href="{{ path('change_locale', {'locale': locale}) }}">
            {% if locale == 'fr' %}
            <span><img src="{{ asset('images/base/fr.png') }}" width="20px" height="15px" class="me-2" alt=""></span> {{
            'francais'|trans }}
            {% else %}
            <span><img src="{{ asset('images/base/en.png') }}" width="20px" height="15px" class="me-2" alt=""></span> {{
            'englais'|trans }}
            {% endif %}
         </a>
      </li>
      {% endif %}
      {% endfor %}
   </ul>
</div>