<div style="background: rgb(241, 241, 241);padding:30px;">
   <div style="padding: 30px;background:white;">
      <div>
         <strong>{{ apropo().siteName }}</strong>
      </div>
      <span>Autheur:</span>
      <div>
         <strong>
            {{ user }}
         </strong> <br>
         <a href="mailto:{{ usermail }}">{{ usermail }}</a>
      </div>
      <p>Sujet: {{ sujet }}</p>
      <div><hr>
         <span>Message</span>
         <p>{{ message }}</p>
      </div>
      <p>&copy;{{ apropo().siteName }} {{ 'now'|date('Y') }}</p>
   </div>
</div>