<center style="text-align: center;padding: 30px 0;">
  <p>Si vous avez des questions ou des suggestions, n'hésitez pas à nous contacter à <a href="mailto:{{appEmail}}">{{appEmail}}</a>. Nous sommes toujours là pour vous aider.</p>
  <p>
    Besoin d'aide ? Consultez la
    <a href="{{ absolute_url(path('faqs')) }}">FAQ</a>.
    <a href="{{ absolute_url(path('cgu')) }}">Conditions générales d'utilisation</a>
    <a href="{{ absolute_url(path('politiques')) }}">Politique de confidentialité</a>
  </p>
  <p> Cordialement, <br> L'équipe {{ appName }} </p>
  <p style="text-align: center;">©{{ appName }} - Tous droits réservés</p>
</center>