{{ form_start(form) }}
<h6>Noms, prénoms et professions des fondateurs</h6>
<div class="row">
	<div class="col-sm-12">{{ form_row(form.fondateur) }}</div>
	<div class="col-sm-12">{{ form_row(form.fondateur2) }}</div>
	<div class="col-sm-12">{{ form_row(form.denomination) }}</div>
	<div class="col-sm-6">{{ form_row(form.duree) }}</div>
	<div class="col-sm-6">{{ form_row(form.siegesociale) }}</div>
	<div class="col-sm-12">{{ form_row(form.objetsocial) }}</div>
</div>

<h6 class="mt-3">CAPITAL SOCIAL</h6>
{{ form_row(form.capitalsocial) }}
{{ form_row(form.partintervale) }}
<div class="row">
	<div class="col-6">{{ form_row(form.numeraires) }}</div>
	<div class="col-6">{{ form_row(form.nature) }}</div>
	<div class="col-6">{{ form_row(form.industrie) }}</div>
	<div class="col-6">{{ form_row(form.part) }}</div>
</div>

<h6 class="mt-3">EXERCICES SOCIAUX : Du 1er Janvier au 31 Décembre
</h6>
<p>Exceptionnellement, l’exercice social des sociétés constituées à partir du mois d’Août d’une année est prolongée jusqu’au 31 décembre de l’année suivante.</p>

<h6 class="mt-3">REPARTITION DU CAPITAL :</h6>
<div class="row">
	<div class="col-8">{{ form_row(form.actionnaire) }}</div>
	<div class="col-4">{{ form_row(form.actionnairepart) }}</div>
</div>
<div class="row">
	<div class="col-8">{{ form_row(form.actionnaire2) }}</div>
	<div class="col-4">{{ form_row(form.actionnaire2part) }}</div>
</div>
<div class="row">
	<div class="col-8">{{ form_row(form.actionnaire3) }}</div>
	<div class="col-4">{{ form_row(form.actionnaire3part) }}</div>
</div>

<h6 class="mt-3">PRESIDENT</h6>
<p>Nom, prénom et profession du Président</p>
<div class="row">
	<div class="col-sm-12">{{ form_row(form.president) }}</div>
	<div class="col-sm-12">{{ form_row(form.prestelephone) }}</div>
</div>
{{ form_rest(form) }}
<div class="text-center pt-4">
	<button class="theme-btn btn-style-one">
		<span class="btn-title">{{ button_label|default('Envoyer') }}
			<i class="fa fa-long-arrow-right"></i>
		</span>
	</button>
</div>
{{ form_end(form) }}
