{% extends 'base.html.twig' %}

{% block body %}
	<!-- Banner Section -->
	<section class="banner-section-seven">
		<div class="bg bg-image" style="background-image: url({{asset('img/home-bg.png')}});"></div>
		<div class="auto-container">
			<div class="row">
				<div class="content-column col-xl-6 col-lg-12 col-md-12">
					<div class="inner-column">
						<div class="sub-title wow fadeInUp" data-wow-delay="300ms">{{appName}}</div>
						<h1 class="title wow fadeInUp titre" data-wow-delay="600ms">Bienvenue sur
							{{appName}}</h1>
						<p class="text wow fadeInUp" data-wow-delay="900ms">La plateforme incontournable pour vous accompagner dans la création de votre entreprise au Sénégal. Que vous soyez un entrepreneur débutant ou expérimenté, nous simplifions le processus pour vous.</p>
					</div>
				</div>
				<div class="col-12">
					<div class="btn-box wow fadeInUp" data-wow-delay="1200ms">
						<a href="{{path('demande_create', {requete: 1})}}" class="theme-btn btn-style-one radius">
							<span class="btn-title">Créer mon entreprise
								<i class="icon fa fa-angle-right"></i>
							</span>
						</a>
						<a href="{{path('demande_create', {requete: 2})}}" class="theme-btn btn-style-two radius">
							<span class="btn-title">Modifier mes statuts
								<i class="icon fa fa-angle-right"></i>
							</span>
						</a>
						<a href="{{path('demande_create', {requete: 3})}}" class="theme-btn btn-style-three radius bg-danger border-danger">
							<span class="btn-title">Fermer mon entreprise
								<i class="icon fa fa-angle-right"></i>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End Banner Section -->

	<!-- Banner Section --
									<section class="banner-section-nine pb-0">
										<div class="auto-container">
											<div class="row">
												<div class="content-column col-lg-6">
													<div class="inner-column">
														<h1 class="title wow fadeInUp text-dark" data-wow-delay="300ms">Bienvenue sur
															<span class="text-primary">{{appName}}</span>
														</h1>
														<div class="image-column d-block d-md-none">
															<div class="inner-column">
																<div class="image-box">
																	<figure class="image wow zoomIn" data-wow-delay="1200ms"><img src="{{asset('img/group.png')}}" alt="Image"></figure>
																</div>
															</div>
														</div>
														<div class="text wow fadeInUp" data-wow-delay="600ms"></div>
														<div class="btn-box wow fadeInUp home-btn" data-wow-delay="900ms">
															<a href="" class="theme-btn btn-style-one me-3">
																<span class="btn-title">
																</span>
															</a>
															<a href="{{path('user_demande_statut')}}" class="theme-btn btn-style-one">
																<span class="btn-title">Modifier mes statuts
																</span>
															</a>
														</div>
													</div>
												</div>
												<div class="image-column col-lg-6 d-none d-md-block">
													<div class="inner-column">
														<div class="image-box">
															<figure class="image wow zoomIn" data-wow-delay="1200ms"><img src="{{asset('img/group.png')}}" alt="Image">
															</figure>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
									<!--End Banner Section -->

	<!-- Services Section Ten-->
		<section class="services-section-ten"> <div class="auto-container">
			<div
				class="row">
				<!-- Service Block ten-->
				<div class="service-block-ten col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
					<div class="inner-box">
						<div class="icon-box">
							<i class="icon flaticon-creativity-1"></i>
						</div>
						<h6 class="title text-dark">
							Démarrez votre entreprise en toute simplicité, nous nous occupons du reste.
						</h6>
						<div class="text">Nous simplifions toutes les démarches, vous n’avez qu’à fournir les informations
																																		essentielles.
						</div>
					</div>
				</div>

				<!-- Service Block ten-->
				<div class="service-block-ten col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
					<div class="inner-box">
						<div class="icon-box">
							<i class="icon flaticon-approved"></i>
						</div>
						<h6 class="title text-dark">
							Votre projet, nos services : ensemble pour créer votre entreprise
						</h6>
						<div class="text">Nous vous accompagnons à chaque étape pour transformer votre idée en réalité.
						</div>
					</div>
				</div>

				<!-- Service Block ten-->
				<div class="service-block-ten col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms">
					<div class="inner-box">
						<div class="icon-box">
							<i class="icon flaticon-custom"></i>
						</div>
						<h6 class="title text-dark">
							Facilitez vos démarches, nous concrétisons votre idée d’entreprise.
						</h6>
						<div class="text">
							Nous rendons vos démarches administratives rapides et accessibles pour lancer votre entreprise.
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End Services Section -->

	<!-- About Section -->
	<section class="about-section-two bg-light">
		<div class="auto-container">
			<div
				class="row">
				<!-- Content Column -->
				<div class="content-column col-12 order-lg-2 wow fadeInRight mb-0">
					<div class="inner-column">
						<div class="sec-title text-center">
							<div class="sub-title">{{appName}}</div>
							<h2>Créer mon entreprise</h2>
						</div>
						<div class="padding-bottom">
							<div
								class="row">
								<!-- About Block Two -->
								<div class="col-sm-6 pb-3">
									<div class="about-block-two">
										<span class="icon">1</span>
										<div class="content">
											<h4 class="title text-dark">Créez un compte rapidement</h4>
											<div class="text">Inscrivez-vous en quelques étapes simples pour accéder à notre plateforme. La
																																																											création de compte vous permet de gérer votre dossier, d’accéder à nos services et de suivre
																																																											l’évolution de votre demande à tout moment.</div>
										</div>
									</div>
								</div>
							</div>
							<div
								class="row">
								<!-- About Block Two -->
								<div
									class="col-sm-6 pb-3 ms-auto">
									<!-- About Block Two -->
									<div class="about-block-two">
										<span class="icon">2</span>
										<div class="content">
											<h4 class="title text-dark">Remplissez le formulaire d'entreprise</h4>
											<div class="text">Une fois connecté, saisissez les informations nécessaires à la création de votre
																																																											entreprise, comme le nom, l’adresse, et le type d’activité. Le formulaire est conçu pour être
																																																											intuitif et vous guidera pas à pas pour ne manquer aucun détail important.</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6 pb-3">
									<div class="about-block-two">
										<span class="icon">3</span>
										<div class="content">
											<h4 class="title text-dark">Effectuez un paiement sécurisé</h4>
											<div class="text">Procédez à un paiement en ligne sécurisé pour finaliser votre demande. Vous avez
																																																											le
																																																											choix entre plusieurs options de paiement, notamment mobile ou par carte bancaire, afin de
																																																											garantir
																																																											une transaction fluide et sécurisée.</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6 pb-3 ms-auto">
									<div class="about-block-two">
										<span class="icon">4</span>
										<div class="content">
											<h4 class="title text-dark">Suivez votre dossier</h4>
											<div class="text">Gardez un œil sur l’avancement de votre dossier en temps réel. Vous serez notifié
																																																											à chaque mise à jour, que ce soit pour une validation, une demande d’information complémentaire,
																																																											ou l’approbation finale de votre dossier.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="btn-box text-center">
							<a href="{{path('demande_create', {requete: 1})}}" class="theme-btn btn-style-one" style="width: max-content;">
								<span class="btn-title">Créer mon entreprise
									<i class="icon fa fa-arrow-right"></i>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End About Section -->

	<!-- Fun Fact Section Nine-->
	<section class="fun-fact-section-nine pb-0">
		<div class="auto-container">
			<div class="fact-counter">
				<div
					class="row">
					<!-- Counter block Nine-->
					<div class="counter-block-nine col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp">
						<div class="inner">
							<i class="icon fa fa-users-medical"></i>
							<div class="count-box">
								<span class="count-text" data-speed="3000" data-stop="200">0</span>+
							</div>
							<h6 class="counter-title">Entreprises Accompagnées</h6>
						</div>
					</div>

					<!-- Counter block Nine-->
					<div class="counter-block-nine col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
						<div class="inner">
							<i class="icon fa fa-award"></i>
							<div class="count-box">
								<span class="count-text" data-speed="3000" data-stop="100">0</span>+
							</div>
							<h6 class="counter-title">Dossiers Traités</h6>
						</div>
					</div>

					<!-- Counter block Nine-->
					<div class="counter-block-nine col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms">
						<div class="inner">
							<i class="icon fa fa-folder-gear"></i>
							<div class="count-box">
								<span class="count-text" data-speed="3000" data-stop="300">0</span>+
							</div>
							<h6 class="counter-title">Clients Satisfaits</h6>
						</div>
					</div>

					<!-- Counter block Nine -->
					<div class="counter-block-nine col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="900ms">
						<div class="inner">
							<div class="content">
								<i class="icon fa fa-star"></i>
								<div class="count-box">
									<span class="count-text" data-speed="3000" data-stop="400">0</span>+
								</div>
								<h6 class="counter-title">Partenaires et Collaborations</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Fun Fact Section-->

	<!-- Testimonial Section -->
	{% include "apropos/composants/_temoignages.html.twig" %}
	<!-- End Testimonial Section -->

	<!-- Why Choose us Four-->
		<section class="why-choose-us-four bg-light"> <div class="auto-container">
			<div
				class="row align-items-center">
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12 wow fadeInLeft">
					<div class="inner-column">
						<div class="sec-title">
							<span class="sub-title">Besoin d'être accompagné(e) ?</span>
							<h2 class="title">Nos experts se feront un plaisir de vous aider</h2>
							<!-- Image Column -->
							<div class="image-column col-lg-6 col-md-12 col-sm-12 wow fadeInRight d-block d-md-none">
								<div class="inner-column">
									<div class="image-box">
										<figure class="image-1 overlay-anim">
											<img src="{{asset('img/group4.png')}}" alt="Image">
										</figure>
										<figure class="image-2 overlay-anim"><img src="{{asset('img/groupe3.png')}}" alt="Image"></figure>

										<!-- Experience box-->
										<div class="exp-box">
											<div class="inner">
												<i class="icon fal fa-trophy"></i>
												<div class="content">
													<div class="count-box">
														<span class="count-text" data-speed="3000" data-stop="{{apropo().anneeExperience}}">0</span>+
													</div>
													<h6 class="counter-title">Années d'expériences</h6>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="text">Accompagnement complet pour la création de votre entreprise, de la collecte des documents
																																							à la validation par les autorités.</div>
						</div>
						<div class="btn-box">
							<a href="{{path('contact')}}" class="theme-btn btn-style-one">
								<span class="btn-title">Contactez-nous
									<i class="fal fa-arrow-circle-right"></i>
								</span>
							</a>
						</div>
					</div>
				</div>

				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12 wow fadeInRight d-none d-md-block">
					<div class="inner-column">
						<div class="image-box">
							<figure class="image-1 overlay-anim">
									<img src="{{asset('img/group4.png')}}" alt="Image">
								</figure>
							<figure class="image-2 overlay-anim"><img src="{{asset('img/groupe3.png')}}" alt="Image"></figure>
							<!-- Experience box-->
							<div class="exp-box">
								<div class="inner">
									<i class="icon fal fa-trophy"></i>
									<div class="content">
										<div class="count-box">
											<span class="count-text" data-speed="3000" data-stop="{{apropo().anneeExperience}}">0</span>+
										</div>
										<h6 class="counter-title">Années d'expériences</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End Why Choose us -->

	<!-- FAQS -->
	{% include "apropos/composants/_faq.html.twig" %}
<!-- FAQS -->

	<!-- Services Section --
												<section class="services-section pt-0">
													<div class="auto-container">
														<div class="sec-title text-center">
															<span class="sub-title">Services</span>
															<h2>Nos principaux services</h2>
														</div>
											
														<div
															class="row">
															<!-- Service Block--
															{% for service in services(4) %}
																<div class="service-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms">
																	<div class="inner-box radius p-3">
																		<div class="icon-box">
																			<img src="{% if service.image %}{{ vich_uploader_asset(service, 'imageFile' )}}{% else %}{{ asset('img/document.svg')}}{% endif %}" alt="{{service}}" class="rounded-circle" width="90" height="90">
																		</div>
																		<h4 class="title text-dark">
																			<a href="{{path('demande_create', {requete: 1})}}">{{service}}</a>
																		</h4>
																		<div class="text">{{service.resume}}
																		</div>
																		<a href="{{path('demande_create', {requete: 1})}}" class="theme-btn btn-style-two w-100 radius">
																			<span class="btn-title">Créer mon entreprise<i class="icon fa fa-angle-right"></i>
																			</span>
																		</a>
																	</div>
																</div>
															{% endfor %}
														</div>
													</div>
												</section>
												End Services Section -->
{% endblock %}
