{% extends 'admin.html.twig' %}

{% block title %}A propos de
	{{ appName }}
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-sm-12 mx-auto">
			<h1>A propos de
				{{ appName }}</h1>
			<div class="row">
				<div class="col-sm-4">
					<strong class="d-block py-3">Photo du DG</strong>
					<img src="{% if apropo.image %}{{ vich_uploader_asset(apropo, 'imageFile' ) | imagine_filter('large') }}{% else %}{{ asset('img/document.svg') | imagine_filter('large') }}{% endif %}" alt="" class="img-fluid">
				</div>
				<div class="col-sm-4">
					<strong class="d-block py-3">Photo du Directeur des opérations</strong>
					<img src="{% if apropo.photoDgOperation %}{{ vich_uploader_asset(apropo, 'photoDgOperationFile' ) | imagine_filter('large') }}{% else %}{{ asset('img/document.svg') | imagine_filter('large') }}{% endif %}" alt="" class="img-fluid">
				</div>
				<div class="col-sm-4">
					<strong class="d-block py-3">Photo de l'équipe</strong>
					<img src="{% if apropo.photo %}{{ vich_uploader_asset(apropo, 'photoFile' ) | imagine_filter('large') }}{% else %}{{ asset('img/document.svg') | imagine_filter('large') }}{% endif %}" alt="" class="img-fluid">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3 py-3">
					<strong class="d-block py-3">Email</strong>
					<span>{{ apropo.email }}</span>
				</div>
				<div class="col-sm-3 py-3">
					<strong class="d-block py-3">telephone</strong>
					<span>{{ apropo.telephone }}</span>
				</div>
				<div class="col-sm-3 py-3">
					<strong class="d-block py-3">whatsapp</strong>
					<span>{{ apropo.whatsapp }}</span>
				</div>
				<div class="col-sm-3 py-3">
					<strong class="d-block py-3">Bureau</strong>
					<span>{{ apropo.bureau }}</span>
				</div>
			</div>

			<div class="py-3">
				<strong class="d-block py-3">Mot du DG</strong>
				<div>{{ apropo.presentation|raw }}</div>
			</div>

			<div class="py-3">
				<strong class="d-block py-3">Mot du Directeur des opérations</strong>
				<div>{{ apropo.motDgOperation|raw }}</div>
			</div>

			<div class="py-3">
				<strong class="d-block py-3">Qui sommes-nous ?</strong>
				<div>{{ apropo.apropos|raw }}</div>
			</div>

			<div class="py-3">
				<strong class="d-block py-3">Historique</strong>
				<div>{{ apropo.historique|raw }}</div>
			</div>
			<div class="mb-4">
				<h3 class="text-dark py-3">Communautés / réseaux sociaux</h3>
				{% for communaute in apropo.communautes %}
					<a href="{{ communaute.lien }}" target="_blank" class="btn btn-dark fa-2x">
						<i class="{{ communaute.icon }}"></i>
						{{ communaute.name }}</a>
				{% endfor %}
			</div>

			<div>
				<span>Date de création</span>
				<p>{{ apropo.created ? apropo.created|ago : '' }}</p>
			</div>
			<div>
				<span>Dernière mise à jour</span>
				<p>{{ apropo.updated ? apropo.updated|ago : '' }}</p>
			</div>
			<div class="mb-4">
				<h3 class="text-dark py-3">Actions</h3>
				<a href="{{ path('apropos_edit', {'id': apropo.id}) }}" class="btn btn-primary p-3">
					<i class="fa fa-edit"></i>
					Mettre à jour
				</a>
			</div>
		</div>
	</div>

{% endblock %}
