<div class="left-side-bar">
	<div class="brand-logo">
		<a href="{{ path('dashboard') }}">
			<img src="{{asset('img/logo.png')}}" width="50" alt=""> <strong class="text-uppercase font-weight-bold">{{appName}}</strong>
		</a>
		<div class="close-sidebar" data-toggle="left-sidebar-close">
			<i class="ion-close-round"></i>
		</div>
	</div>
	<div class="menu-block customscroll box-shadow">
		<div class="sidebar-menu pt-3">
			<ul id="accordion-menu">
				<li>
					<a class="dropdown-toggle no-arrow {{ app.request.attributes.get('_route') == 'admin_demande_index' ? 'active' : '' }}{{ app.request.attributes.get('_route') == 'admin_demande_index_edit' ? 'active' : '' }}{{ app.request.attributes.get('_route') == 'demande_dossier_juridique' ? 'active' : '' }}{{ app.request.attributes.get('_route') == 'user_demande_show' ? 'active' : '' }}" href="{{ path('admin_demande_index') }}">
						<span class="micon dw dw-house-1"></span>
						<span class="mtext">Démarches</span>
					</a>
				</li>
				{% if is_granted('ROLE_ADMIN') %}
					<li>
						<a class="dropdown-toggle no-arrow {{ app.request.attributes.get('_route') == 'apropos_index' ? 'active' : '' }}{{ app.request.attributes.get('_route') == 'apropos_edit' ? 'active' : '' }}" href="{{ path('apropos_index') }}">
							<span class="micon fa fa-text-height"></span>
							<span class="mtext">{{appName}}</span>
						</a>
					</li>
				{% endif %}
				<li>
					<a class="dropdown-toggle no-arrow {{ app.request.attributes.get('_route') == 'statut_index' ? 'active' : '' }}{{ app.request.attributes.get('_route') == 'statut_edit' ? 'active' : '' }}" href="{{ path('statut_index') }}">
						<span class="micon fa fa-folder-open"></span>
						<span class="mtext">Formes juridique</span>
					</a>
				</li>
				<li>
					<a class="dropdown-toggle no-arrow {{ app.request.attributes.get('_route') == 'service_index' ? 'active' : '' }}{{ app.request.attributes.get('_route') == 'service_edit' ? 'active' : '' }}" href="{{ path('service_index') }}">
						<span class="micon fa fa-tags"></span>
						<span class="mtext">Services</span>
					</a>
				</li>
				<li>
					<a class="dropdown-toggle no-arrow {{ app.request.attributes.get('_route') == 'tarification_index' ? 'active' : '' }}{{ app.request.attributes.get('_route') == 'tarification_edit' ? 'active' : '' }}" href="{{ path('tarification_index') }}">
						<span class="micon fa fa-dollar"></span>
						<span class="mtext">Formules</span>
					</a>
				</li>
				<li>
					<a class="dropdown-toggle no-arrow {{ app.request.attributes.get('_route') == 'activite_index' ? 'active' : '' }}{{ app.request.attributes.get('_route') == 'activite_edit' ? 'active' : '' }}" href="{{ path('activite_index') }}">
						<span class="micon fa fa-analytics"></span>
						<span class="mtext">Activités</span>
					</a>
				</li>
				{% if is_granted('ROLE_ADMIN') %}
					<li>
						<a class="dropdown-toggle no-arrow {{ app.request.attributes.get('_route') == 'membre_index' ? 'active' : '' }}{{ app.request.attributes.get('_route') == 'membre_edit' ? 'active' : '' }}" href="{{ path('membre_index') }}">
							<span class="micon fa fa-user"></span>
							<span class="hide-menu">Membres</span>
						</a>
					</li>
				{% endif %}
				<li>
					<a class="dropdown-toggle no-arrow {{ app.request.attributes.get('_route') == 'temoignages_index' ? 'active' : '' }}{{ app.request.attributes.get('_route') == 'temoignages_edit' ? 'active' : '' }}" href="{{ path('temoignages_index') }}">
						<span class="micon fa fa-comments"></span>
						<span class="hide-menu">Avis clients</span>
					</a>
				</li>
				{% if is_granted('ROLE_ADMIN') %}
					<li>
						<a class="dropdown-toggle no-arrow {{ app.request.attributes.get('_route') == 'partenaires_index' ? 'active' : '' }}{{ app.request.attributes.get('_route') == 'partenaires_edit' ? 'active' : '' }}" href="{{ path('partenaires_index') }}">
							<span class="micon fa fa-heart"></span>
							<span class="hide-menu">Partenaires</span>
						</a>
					</li>
				{% endif %}
				<li>
					<a class="dropdown-toggle no-arrow {{ app.request.attributes.get('_route') == 'accueil' ? 'active' : '' }}" href="{{ path('accueil') }}" target="_blank">
						<span class="micon fa fa-arrow-alt-right"></span>
						<span class="mtext">Aller sur le site</span>
					</a>
				</li>
				{% if is_granted('ROLE_ADMIN') %}
					<li>
						<a class="dropdown-toggle no-arrow {{ app.request.attributes.get('_route') == 'user_index' ? 'active' : '' }}{{ app.request.attributes.get('_route') == 'user_edit' ? 'active' : '' }}" href="{{ path('user_index') }}">
							<span class="micon fa fa-user-circle"></span>
							<span class="hide-menu">Utilisateurs</span>
						</a>
					</li>
				{% endif %}
				<li>
					<a class="dropdown-toggle no-arrow" href="{{ path('app_logout') }}">
						<span class="micon fa fa-power-off"></span>
						<span class="hide-menu">Déconnexion</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
