{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Contact
{% endblock %}

{% block body %}
	<!-- Hidden bar back drop -->
	<div class="hidden-bar-back-drop"></div>

	<!-- Start main-content -->
	<section class="page-title" style="background-image: url({{asset('themes/base/images/background/page-title-bg.png')}});">
		<div class="auto-container">
			<div class="title-outer d-sm-flex align-items-center justify-content-sm-between">
				<h1 class="title">Contactez-nous</h1>
				<ul class="page-breadcrumb">
					<li>
						<a href="{{path('accueil')}}">Accueil</a>
					</li>
					<li>Contact</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- end main-content -->

	<!--Contact Details Start-->
	<section class="contact-details contact-section">
		<div class="container pt-0">
			<div class="row">
				<div class="col-xl-7 col-lg-6">
					<div class="sec-title">
						<span class="sub-title">Envoyez-nous un e-mail</span>
						<h2>N'hésitez pas à écrire</h2>
					</div>
					<!-- Contact Form -->
					{% include "contact/composants/_form.html.twig" %}
					<!-- Contact Form Validation-->
				</div>
				<div class="col-xl-5 col-lg-6">
					<div class="contact-details__right">
						<div class="sec-title">
							<span class="sub-title">Besoin d'aide ?</span>
							<h2>Contactez-nous</h2>
							<div class="text">{{apropo().presentation}}</div>
						</div>
						<ul class="list-unstyled contact-details__info">
							<li>
								<div class="icon bg-theme-color2">
									<span class="lnr-icon-phone-plus"></span>
								</div>
								<div class="text">
									<h6 class="mb-1">Avez-vous des questions?</h6>
									<a href="tel:{{apropo().telephone}}">
										<span>Gratuit</span>
										{{apropo().telephone}}</a>
								</div>
							</li>
							<li>
								<div class="icon">
									<span class="lnr-icon-envelope1"></span>
								</div>
								<div class="text">
									<h6 class="mb-1">Écrire un e-mail</h6>
									<a href="mailto:{{apropo().email}}">{{apropo().email}}</a>
								</div>
							</li>
							<li>
								<div class="icon">
									<span class="lnr-icon-location"></span>
								</div>
								<div class="text">
									<h6 class="mb-1">Visitez à tout moment</h6>
									<span>{{apropo().bureau}}</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Contact Details End-->

	<!-- Map Section-->
	<section class="map-section">
		<iframe class="map w-100" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=Sénégal&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
	</section>
	<!--End Map Section-->
{% endblock %}
