<section class="main-slider">
	<div class="container-fluid">
		<ul class="main-slider-carousel owl-carousel owl-theme slide-nav">
			{% for slider in sliders %}
				<li class="slider-wrapper">
					<div class="image"><img src="{% if slider.image %}{{ vich_uploader_asset(slider, 'imageFile' ) | imagine_filter('couverture') }}{% else %}{{ asset('img/document.svg') | imagine_filter('couverture') }}{% endif %}" alt="" class=""></div>
					<div class="slider-caption light text-center">
						<div class="container">
							<h3>{{slider.categorie ?? ''}}
								<span class="border-shape"></span>
							</h3>
							<h1>{{slider}}</h1>
							<div class="text light large-text">{{slider.resume}}</div>
							<div class="link-btn">
								<a href="{{ path('actualite_details', {slug: slider.slug}) }}" class="theme-btn btn-style-two">En savoir plus</a>
							</div>
						</div>
					</div>
					<div class="slide-overlay"></div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
