<!DOCTYPE html>
<html lang="fr">

	<head>
		<!-- Basic Page Info -->
		<meta charset="utf-8">
		<title>
			Administration
			{{ apropo().name }}
			-
			{% block title %}{% endblock %}
		</title>

		<!-- Site favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('img/logo.png')}}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{asset('img/logo.png')}}">
		<link
		rel="icon" type="image/png" sizes="16x16" href="{{asset('img/logo.png')}}">

		<!-- Mobile Specific Metas -->
		<meta
		name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- Google Font -->
		<link
		href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="{{ asset('themes/admin/vendors/styles/core.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('themes/admin/vendors/styles/icon-font.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('themes/admin/src/plugins/datatables/css/dataTables.bootstrap4.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('themes/admin/src/plugins/datatables/css/responsive.bootstrap4.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('themes/admin/src/plugins/fancybox/dist/jquery.fancybox.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('themes/admin/vendors/styles/style.css') }}">
		<link href="{{asset('themes/base/css/style.css')}}" rel="stylesheet">
		{% block stylesheets %}
			{{ encore_entry_link_tags('admin') }}
			{{ encore_entry_link_tags('responsive') }}
		{% endblock %}
	</head>

	<body class="admin bg-white" data-turbo="false">

		{% include "partials/admin/_header.html.twig" %}

		{% include "partials/admin/_sidebar.html.twig" %}

		<div class="mobile-menu-overlay"></div>

		<div class="main-container">
			<div class="pd-ltr-20 pb-5">

				<div class="row">
					<div class="col-sm-11 mx-auto">
						<div class="d-flex align-items-center pb-3 bg-white row mt-0 pt-0">
							<div class="col-sm-8">
								<h1 class="p-0 m-0 d-inline h4 mr-3 pr-3 titre"> {% block titre %}{% endblock %}
									</h1>
									<p class="text-muted">
										{% block text %}
											{{appName}}
										{% endblock %}
									</p>
								</div>
								<div class="col-sm-4 text-right"> {% block right %}{% endblock %}
									</div>
								</div>
								{% include "partials/_flash.html.twig" %}
								{% block filters %}{% endblock %}
								{% block banner %}{% endblock %}
								{% block body %}{% endblock %}
								{% block pagination %}{% endblock %}
							</div>
						</div>

					</div>
				</div>
				<!-- js -->
				<script src="{{ asset('themes/admin/vendors/scripts/core.js') }}"></script>
				<script src="{{ asset('themes/admin/vendors/scripts/script.min.js') }}"></script>
				<script src="{{ asset('themes/admin/vendors/scripts/process.js') }}"></script>
				<script src="{{ asset('themes/admin/vendors/scripts/layout-settings.js') }}"></script>
				<script src="{{ asset('themes/admin/src/plugins/fancybox/dist/jquery.fancybox.js') }}"></script>
				<script src="https://cdn.ckeditor.com/ckeditor5/41.3.1/classic/ckeditor.js"></script>
				<script>
					ClassicEditor.create(document.querySelector('.mce')).catch(error => {
console.error(error);
});

ClassicEditor.create(document.querySelector('.mce2')).catch(error => {
console.error(error);
});
ClassicEditor.create(document.querySelector('.mce3')).catch(error => {
console.error(error);
});
ClassicEditor.create(document.querySelector('.mce4')).catch(error => {
console.error(error);
});
				</script>
				{% block javascripts %}
					{{ encore_entry_script_tags('app') }}
					{{ encore_entry_script_tags('collection') }}
					{{ encore_entry_script_tags('picture') }}
					{{ encore_entry_script_tags('desablebtn') }}
				{% endblock %}
			</body>

		</html>
