<!DOCTYPE html>
<html lang="fr">

<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8">
	<title>
		{% block title %}{% endblock %}
	</title>
	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="{{asset('img/logo.png')}}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{asset('img/logo.png')}}">
	<link rel="icon" type="image/png" sizes="16x16"	href="{{asset('img/logo.png')}}">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
		rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{{asset('themes/admin/vendors/styles/core.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('themes/admin/vendors/styles/icon-font.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('themes/admin/vendors/styles/style.css')}}">
	<link href="{{asset('themes/base/css/style.css')}}" rel="stylesheet">

	{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	{{ encore_entry_link_tags('admin') }}
	{{ encore_entry_link_tags('responsive') }}
	{% endblock %}
</head>

<body class="login-page bg-white auth-footer pt-0" data-turbo="false">
	<div class="login-wrap d-flex align-items-center flex-wrap justify-content-center mt-0 pt-0" style="height: 100%;">
		<div class="container">
			<div class="row align-items-center mt-0 pt-0">
				<div class="col-md-5 ml-auto block-logo text-center">
					<a href="{{path('accueil')}}"><img src="{{asset('img/logo.png')}}" alt="Logo {{appName}}"></a>
				</div>
				<div class="col-md-5 mr-auto">
					<div class="login-box pt-4 bg-white box-shadow border-radius-10 mb-0 pb-4" style="max-width:100%">
						<div class="login-title mb-0 pb-0">
							<h1 class="text-center text-primary titre-auth mb-2"> {% block titre %}{% endblock %}</h1>
							<p class="small text-center">{% block text %}{% endblock %}</p>
						</div>
						{% include "partials/_flash.html.twig" %}
						{% block body %}{% endblock %}
					</div>
				</div>
			</div>
		</div>
		<footer class="text-center pt-4">
			<div class="text-center pb-0 mb-0">
				<p class="pb-0 mb-0">Si vous avez des questions ou des suggestions, n'hésitez pas à nous contacter à
					<a href="mailto:{{appEmail}}">{{appEmail}}</a>. <br> Nous sommes toujours là pour vous aider. Besoin d'aide ?
					Consultez :
				</p>
			</div>
			<nav class="nav justify-content-center">
				<a href="{{ absolute_url(path('faqs')) }}" class="nav-link">FAQ</a>
				<a href="{{ absolute_url(path('cgu')) }}" class="nav-link">Conditions générales d'utilisation</a>
				<a href="{{ absolute_url(path('politiques')) }}" class="nav-link">Politique de confidentialité</a>
			</nav>
			<p style="text-align: center;">©{{ appName }}
				- Tous droits réservés</p>
		</footer>
	</div>
	<!-- js -->
	<script src="{{asset('themes/admin/vendors/scripts/core.js')}}"></script>
	<script src="{{asset('themes/admin/vendors/scripts/script.min.js')}}"></script>
	<script src="{{asset('themes/admin/vendors/scripts/process.js')}}"></script>
	<script src="{{asset('themes/admin/vendors/scripts/layout-settings.js')}}"></script>
	{% block javascripts %}
	{{ encore_entry_script_tags('desablebtn') }}
	{% endblock %}
</body>

</html>