<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>{{ appName }} {% block title %}{% endblock %}</title>
		<!-- Stylesheets -->
		<link href="{{asset('themes/base/css/bootstrap.min.css')}}" rel="stylesheet">
		<link href="{{asset('themes/base/css/style.css')}}" rel="stylesheet">

		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('img/logo.png')}}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{asset('img/logo.png')}}">
		<link	rel="icon" type="image/png" sizes="16x16" href="{{asset('img/logo.png')}}">

		<!-- Responsive -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
		<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			{{ encore_entry_link_tags('responsive') }}
		{% endblock %}
	</head>
		<body data-turbo="false">
			<div class="page-wrapper">
				<!-- Main Header-->
				{% block header %}
					{% include "partials/base/_header.html.twig" %}
				{% endblock %}
				<!--End Main Header -->
				{% include "partials/_flash.html.twig" %}
				{% block body %}{% endblock %}
				<!-- Footer Section -->
				{% block footer %}
					{% include "partials/base/_footer.html.twig" %}
				{% endblock %}
				<!--End Footer Section -->
			</div>
			<!-- End Page Wrapper -->
		<!-- Scroll To Top -->
		<div class="scroll-to-top scroll-to-target" data-target="html">
			<span class="fa fa-angle-up"></span>
		</div>
		<script src="{{asset('themes/base/js/jquery.js')}}"></script>
		<script src="{{asset('themes/base/js/popper.min.js')}}"></script>
		<script src="{{asset('themes/base/js/bootstrap.min.js')}}"></script>
		<script src="{{asset('themes/base/js/jquery.fancybox.js')}}"></script>
		<script src="{{asset('themes/base/js/wow.js')}}"></script>
		<script src="{{asset('themes/base/js/appear.js')}}"></script>
		<script src="{{asset('themes/base/js/mixitup.js')}}"></script>
		<script src="{{asset('themes/base/js/owl.js')}}"></script>
		<script src="{{asset('themes/base/js/script.js')}}"></script>
	</body>
</html>
