<div class="card radius border mb-3">
    <div class="row card-body">
        <div class="col-sm-4">{{ form_row(form.date) }}</div>
        <div class="col-sm-4">{{ form_row(form.dateEn) }}</div>
        <div class="col-sm-4">{{ form_row(form.diplome) }}</div>
        <div class="col-sm-4">{{ form_row(form.ecole) }}</div>
        <div class="col-sm-4">{{ form_row(form.pays) }}</div>
    </div>
    <div class="text-end card-footer">
        <button type="button" class="btn-remove btn btn-light btn-sm text-danger">
            <i class="fa fa-trash-alt"></i> Retirer
        </button>
    </div>
</div>