<div class="rounded p-3 radius border mb-3">
    <div class="row">
        <div class="col-sm-4">{{ form_row(form.date) }}</div>
        <div class="col-sm-4">{{ form_row(form.dateEn) }}</div>
        <div class="col-sm-4">{{ form_row(form.post) }}</div>
        <div class="col-sm-4">{{ form_row(form.postEn) }}</div>
        <div class="col-sm-4">{{ form_row(form.structure) }}</div>
        <div class="col-sm-4">{{ form_row(form.pays) }}</div>
    </div>
    {{ form_row(form.description) }}
    {{ form_row(form.descriptionEn) }}
    <div class="text-end card-footer">
        <button type="button" class="btn-remove btn btn-light btn-sm text-danger">
            <i class="fa fa-trash-alt"></i> Retirer
        </button>
    </div>
</div>