{{ form_start(form) }}
<div class="row g-3">
   <div class="col-sm-6 pb-3">
      <div class="form-floating">
         {{ form_widget(form.nom) }}
         <label for="contact_non">{{ 'nom'|trans }}</label>
      </div>
      {{ form_errors(form.nom) }}
   </div>

   <div class="col-sm-6 pb-3">
      <div class="form-floating">
         {{ form_widget(form.email) }}
         <label for="contact_email">E-mail</label>
      </div>
      {{ form_errors(form.email) }}
   </div>
</div>
<div class="pb-3">
   <div class="form-floating">
      {{ form_widget(form.sujet) }}
      <label for="contact_sujet">{{ 'raison'|trans }}</label>

   </div>
   {{ form_errors(form.sujet) }}
</div>
<div class="pb-3">
   <div class="form-floating">
      {{ form_widget(form.message) }}
      <label for="contact_message">{{ 'ecriremessage'|trans }}</label>
   </div>
   {{ form_errors(form.message) }}
</div>
<div class="text-center pb-5">
   <button type="submit" class="btn btn-primary py-3"><i class="fa fa-paper-plane"></i> Envoyer</button>
</div>
{{ form_end(form) }}