{{ form_start(form, {attr: {class: 'contact-form style-five'}}) }}

<div class="row clearfix">
	<div class="col-sm-6 column">{{ form_row(form.nom) }}</div>
	<div class="col-sm-6 column">{{ form_row(form.email) }}</div>
	<div class="col-sm-12 column">{{ form_row(form.sujet) }}</div>
</div>

{{ form_rest(form) }}

<div class="contact-section-btn pt-4">
	<button type="submit" class="theme-btn btn-style-one">
		<span class="btn-title">Send message</span>
	</button>
</div>

{{ form_end(form) }}
