{% extends 'base.html.twig' %}

{% block title %}Nos réalisations {{ projet }}{% endblock %}

{% block body %}

<!-- Projects Start -->
<div class="container-xxl py-6 pb-1" id="project">
   <div class="container">
      <div class="row mb-5 align-items-center wow fadeInUp" data-wow-delay="0.1s">
         <div class="col-lg-12">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{{ path('accueil') }}">Accueil</a></li>
                  <li class="breadcrumb-item"><a href="{{ path('realisations') }}">Nos réalisations</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{ projet }}</li>
               </ol>
            </nav>
            <h1 class="display-5 mb-0">{{ projet }}</h1>
         </div>
      </div>
      <div class="row g-4 mb-5 wow fadeInUp" data-wow-delay="0.2s">
         <div class="col-lg-7">
            <div class="news-thumb" data-aos="fade-up">
               <a href="{{ projet.lien }}" class="news-image-hover news-image-hover-warning border" target="_blank">
                  <img src="{% if projet.image %}{{ vich_uploader_asset(projet, 'imageFile' ) }}{% else %}{{ asset('img/img-def-min.png') }}{% endif %}"
                     class="img-fluid" alt="{{ projet }}">
               </a>
            </div>

            {% if projet.medias|length > 0 %}
            <div class="py-4">
               {% include "realisation/composants/_galerie.html.twig" %}
            </div>               
            {% endif %}

            {% if projet.description or projet.descriptionEn %}
            <div class="py-4">
               <h4>Description</h4>
               {{ app.request.locale == 'fr' ? projet.description|raw : projet.descriptionEn|raw }}
            </div>               
            {% endif %}
         </div>
         <div class="col-lg-4">
            <div class="list-group list-group-numbered shadow-sm">
               {% if projet.version %}
               <div class="list-group-item py-3 d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     Version
                  </div>
                  <small class="text-muted small">{{ projet.version }}</small>
               </div>
               {% endif %}
               <div class="list-group-item py-3 d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     {{ 'miseajour'|trans }}
                  </div>
                  <span class="text-muted small">{{ projet.updated|ago }}</span>
               </div>
               <div class="list-group-item py-3 d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     {{ 'datesortie'|trans }}
                  </div>
                  <span class="text-muted small">{{ projet.dateSortie|ago }}</span>
               </div>
               <div class="list-group-item py-3 d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     {{ 'categorie'|trans }}
                  </div>
                  <span class="text-primary small">
                     {{ app.request.locale == 'fr' ? projet.categorie : projet.categorie.nameEn }}
                  </span>
               </div>

               <div class="list-group-item py-3 d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                     {{ 'domaine'|trans }}
                  </div>
                  <span class="text-primary small">{{ app.request.locale == 'fr' ? projet.domaine :
                     projet.domaine.nameEn }}</span>
               </div>

               {% if projet.competences|length > 0 %}
               <div class="list-group-item py-3">
                  <div class="ms-2 me-auto">
                     <span class="d-block mb-3">{{ 'technologie'|trans }}</span>
                     {% for competence in projet.competences %}
                     <span class="badge rounded-pill bg-dark">{{ competence }}</span>
                     {% endfor %}
                  </div>
               </div>                  
               {% endif %}

               {% if projet.lien %}
               <div class="list-group-item py-3">
                  <div class="ms-2 me-auto">
                     <div class="">
                        <a href="{{ projet.lien }}" class="btn btn-primary btn-sm p-2">
                           {{ 'visiteapp'|trans }}
                        </a>
                     </div>
                  </div>
               </div>
               {% endif %}
            </div>
         </div>
      </div>
      {% if similars|length > 1 %}
      <div class="row mb-5 align-items-center wow fadeInUp" data-wow-delay="0.3s">
         <div class="col-sm-12">
            <h4 class="py-3">
               {{ app.request.locale == 'fr' ? projet.categorie.name : projet.categorie.nameEn }}
               {{ 'similars'|trans }}
            </h4>
         </div>
         {% for similar in similars %}
            {% if similar != projet %}
            <div class="col-sm-3 pb-4">
               {% include "realisation/composants/_similar.html.twig" %}
            </div>            
            {% endif %}
         {% endfor %}
      </div>         
      {% endif %}
   </div>
</div>
<!-- Projects End -->

{% endblock %}