<!-- News Block -->
<div class="news-block col-lg-4 col-md-6 col-sm-12">
   <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
      <div class="image mb-0">
         <a href="{{ path('blog_details', {slug: actualite.slug}) }}"><img src="{% if actualite.image %}{{ vich_uploader_asset(actualite, 'imageFile' ) | imagine_filter('news') }}{% else %}{{ asset('img/img-def-min.png') | imagine_filter('news') }}{% endif %}"
               alt="" /></a>
      </div>
      <div class="lower-content pt-3">
         <span><i class="icon fa fa-calendar"></i> {{ actualite.created|date('d, M Y') }}</span>
         <a href="{{ path('blog_details', {slug: actualite.slug}) }}"><h5>{{ actualite.name }}</h5></a>
         <div class="ps-2">
            <a href="{{ path('blog_details', {slug: actualite.slug}) }}" class="theme-btn btn-style-four"><span
               class="txt">En savoir plus &longrightarrow;</span></a>
         </div>
      </div>
   </div>
</div>